body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: #f5f5dc;
    margin: 0;
    padding: 0;
}

a {
    color: #ffdd00;
    text-decoration: none;
}

h1 {
    font-family: 'Lemon Tuesday', cursive;
    font-size: 3rem;
    margin: 0;
}

h2  {
    font-family: 'Montserrat', cursive;
    font-size: 2rem;
    margin: 0;
}

.index-heading {
    text-align: center;
    margin: 20px;
    color: #ffdd00;
}


nav {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    font-weight: bold;
    color: #f5f5dc;
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.carousel {
    flex-shrink: 0;
    width: 65%;
    height: 700px;
}

.mySwiper {
    position: relative;
    height: 100%;
    --swiper-navigation-color: #ffdd00;
    --swiper-navigation-size: 50px;
    --swiper-pagination-color: #ffdd00;
}

.mySwiper .swiper-pagination{
    bottom: 30px !important;
}
.mySwiper .swiper-pagination .swiper-pagination-bullet{
    width: 50px;
    height: 5px;
    border-radius: 0;
    background-color: #fff;
    opacity: .8;
}
.mySwiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #ffdd00;
}
.mySwiper .swiper-slide{
    align-items: center;
    justify-content: center;
    display: flex;
}
.mySwiper img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
}
.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffdd00;
  }

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: #ffdd00;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}
.my-swiper-text{
    margin-bottom: 1px;
    width: 100%;
    height: 180px;
}
.my-swiper-text .index-text-sub{
    color: hsl(48, 100%, 50%);
    font-family: 'Bangers';
    background-color: #000;
    font-size: 36px;
}

.my-swiper-text .text-sub{
    color:hsl(34, 100%, 50%);
    background-color: #000;
}

.carousel-control-prev, .carousel-control-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffdd00;
    font-size: 20px;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}


.project-description {
    color: #f5f5dc;
    width: 35%;
    padding: 20px;
    flex-shrink: 0;
    margin-top: 50px;
    font-size: 24px;
    box-sizing: border-box;
}

footer {
    background-color: rgba(101, 81, 0, 0.86);
    color: white;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
}

footer a {
    color: #ffdd00;
}

@font-face {
    font-family: 'Lemon Tuesday';
    src: url('../fonts/Lemon_Tuesday.otf');
}

nav, .carousel-control-prev, .carousel-control-next {
    font-family: 'Lemon Tuesday';
}

nav, .carousel-control-prev, .carousel-control-next {
    font-family: 'Montserrat', sans-serif;
}


.project-content {
    text-align: center;
    margin: 20px;
}

#project-carousel .carousel-inner {
    height: 40%;
    margin: auto;
}

#project-carousel .carousel-item img {
    width: 30%; 
    height: auto; 
    object-fit: contain; 
}

